<section id="new-upgrading">
  <h2 class="page-header">Все еще пользуетесь версией 3.2.1?</h2>
  <p>
  	Для получения полной документации по изменению синтаксиса в {{ site.fontawesome.minor_version }} посмотрите
    <a href="{{ page.relative_path }}examples">примеры</a>. Информацию по изменению названий иконок
    <a href="https://twitter.com/gtagliala">@gtagliala</a> поместил в 
    <a href="{{ site.fontawesome.github.url }}/wiki/Upgrading-from-3.2.1-to-4">отличную wiki-страницу</a>, где 
    задокументированы все изменения.
  </p>
</section>
