<section id="spinner">
  <h2 class="page-header">Вращающиеся</h2>

  <div class="alert alert-success">
    <ul class="fa-ul">
      <li>
        <i class="fa fa-info-circle fa-lg fa-li"></i>
        Эти иконки работают с классом <code>fa-spin</code>. Посмотрите
        <a href="{{ page.relative_path }}examples/#animated" class="alert-link">примеры вращающихся иконок</a>.
      </li>
    </ul>
  </div>

  <div class="row fontawesome-icon-list">
    {% assign icons_spinner = icons | expand_aliases | category:"Вращающиеся иконки" | sort_by:'class' %}

    {% for icon in icons_spinner %}
      <div class="fa-hover col-md-3 col-sm-4"><a href="{{ page.relative_path }}icon/{{ icon.id }}"><i class="fa fa-{{ icon.class }}"></i> {{ icon.class }}{% if icon.alias_of %} <span class="text-muted">(синоним)</span>{% endif %}</a></div>
    {% endfor %}
  </div>
</section>
