<section id="accessible">
  <h2 class="page-header">
    Общедоступность
  </h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <p>
        <a class="btn btn-default" href="path/to/settings">
          <i class="fa fa-cog" title="Настройки" aria-hidden="true"></i>
          <span class="sr-only">Настройки</span>
        </a>

        <a class="btn btn-danger" href="path/to/settings">
          <i class="fa fa-trash-o" title="Удалить" aria-hidden="true"></i>
          <span class="sr-only">Удалить</span>
        </a>

        <a class="btn btn-primary" href="#navigation-main">
          <i class="fa fa-bars" aria-hidden="true" title="Перейти к основному меню"></i>
          <span class="sr-only">Перейти к основному меню</span>
        </a>
      </p>

      <p>
        <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
        <span class="sr-only">Обновление...</span>

        <i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i>
        <span class="sr-only">Сохранение. Держитесь крепче!</span>
      </p>

      <p>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="text" placeholder="Ваш email">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="password" placeholder="Пароль">
        </div>
      </p>

      <p>
        <a href="path/to/shopping/cart" class="btn btn-primary">
          <i class="fa fa-shopping-cart" title="Посмотреть 3 предмета в вашей корзине" aria-hidden="true"></i>
          <span class="sr-only">Посмотреть 3 предмета в вашей корзине</span>
        </a>
      </p>

      <p>
        <i class="fa fa-battery-half" aria-hidden="true"></i>
        <span class="sr-only">Уровень заряда: 50%</span>
      </p>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>
        Немного о <a href="{{ page.relative_path }}accessibility/">наших мыслях об общедоступности иконок</a>.
        Если иконка используется для декорирования или отображения бренда, то они не должны быть объявлены
        общедоступно, тк они влияют на приложения, читающие сайты в слух. Если иконка передает смысл содержания текста в контексте
        интерфейса, то убедитесь в том, что этот смысл также передается и вспомогательными технологиями, дополнительным текстом
        или скрытым блоком.
      </p>

{% highlight html %}
<a class="btn btn-default" href="path/to/settings">
  <i class="fa fa-cog" title="Настройки" aria-hidden="true"></i>
  <span class="sr-only">Настройки</span>
</a>

<a class="btn btn-danger" href="path/to/settings">
  <i class="fa fa-trash-o" title="Удалить" aria-hidden="true"></i>
  <span class="sr-only">Удалить</span>
</a>

<a class="btn btn-primary" href="#navigation-main">
  <i class="fa fa-bars" aria-hidden="true" title="Перейти к основному меню"></i>
  <span class="sr-only">Перейти к основному меню</span>
</a>
{% endhighlight %}

{% highlight html %}
<i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
<span class="sr-only">Обновление...</span>

<i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i>
<span class="sr-only">Сохранение. Держитесь крепче!</span>
{% endhighlight %}

{% highlight html %}
<div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
  <input class="form-control" type="text" placeholder="Ваш email">
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
  <input class="form-control" type="password" placeholder="Пароль">
</div>
{% endhighlight %}

{% highlight html %}
<a href="path/to/shopping/cart" class="btn btn-primary">
  <i class="fa fa-shopping-cart" title="Посмотреть 3 предмета в вашей корзине" aria-hidden="true"></i>
  <span class="sr-only">Посмотреть 3 предмета в вашей корзине</span>
</a>
{% endhighlight %}

{% highlight html %}
<i class="fa fa-battery-half" aria-hidden="true"></i>
<span class="sr-only">Уровень заряда: 50%</span>
{% endhighlight %}
    </div>
  </div>
</section>
