<section id="list">
  <h2 class="page-header">
    Иконки  списков
    <div class="pull-right text-default margin-top padding-top-sm hidden-xs">
      <a href="https://github.com/FortAwesome/Font-Awesome/blob/{{ site.fontawesome.doc_blob }}/less/list.less" class="text-muted padding-right">Посмотреть LESS</a>
      <a href="https://github.com/FortAwesome/Font-Awesome/blob/{{ site.fontawesome.doc_blob }}/scss/_list.scss" class="text-muted">Посмотреть SASS</a>
    </div>
  </h2>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square"></i>Иконки списков</li>
        <li><i class="fa-li fa fa-check-square"></i>могут быть использованы</li>
        <li><i class="fa-li fa fa-spinner fa-spin"></i>как маркеры</li>
        <li><i class="fa-li fa fa-square"></i>в списках</li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>Используйте классы <code>fa-ul</code> и <code>fa-li</code> для быстрого удаления стандартных маркеров в ненумерованных списках.</p>
{% highlight html %}
<ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square"></i>Иконки списков</li>
  <li><i class="fa-li fa fa-check-square"></i>могут быть использованы</li>
  <li><i class="fa-li fa fa-spinner fa-spin"></i>как маркеры</li>
  <li><i class="fa-li fa fa-square"></i>в списках</li>
</ul>
{% endhighlight %}
    </div>
  </div>
</section>
